.document-single-item {
  .panel {
    margin: 0;
  }

  .panel-footer {
    time {
      color: #666;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .panel-body {
    .title-image {
      img {
        width: 100%;
      }
    }

    .hgroup {
      margin-top: 10px;

      .title,
      .subtitle {
        font-size: 14px;
      }

      .title {
        font-weight: 600;
      }

      .subtitle {
        margin-top: 5px;
        color: #a3a3a3;
        font-weight: 100;
      }
    }
  }
}
