#global-footer {
  bottom: 50px;
  height: 50px;
  padding: 15px;
  position: relative;
  text-align: center;
}

/* =================================================
 * Black Skin
 * ================================================= */

#home #global-footer,
#objectified.object-focus #global-footer {
  color: #999;
}

