@import '../contrib/responsive';

#documents #contents {
  position: relative;

  .document-item {
    padding: 20px;

    @include responds-to(sm, md, lg) {
      float: initial;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
