@import 'bourbon';

/* =================================================
 * Object Focus
 * ================================================= */

#objectified.object-focus {
  background-color: #1a1a1a;
  @include transition(0.2s);

  #global-navbar {
    .navbar {
      border-bottom-color: transparent;
      background-color: transparent;
    }

    .navbar-center {
      background-color: transparent;
    }

    .navbar-brand,
    .navbar-center li.active a {
      color: white;
    }
  }

  #contents {
    background-color: #1a1a1a;
    @include transition(0.2s);
  }
}
