@import 'contrib/responsive';

.react-container {
  padding-top: 83px;

  @include respond-to(xs) {
    padding-top: 104px;
  }
}

#contents {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: transparent;
}
